@using FamTec.Server.Controllers.Object
@using FamTec.Shared.Client.DTO


<div class="placemodal-backgroud appear">
    <div class="placemodal-container yappear ">
        <div class="placemodal-wrap ">
            <div class="placemodal-title">
                @Title
            </div>
            <div class="placemodal-content">
                <div class="placemodal-form">
                    <EditForm Model="placeInfo">
                        <InputField Label="코드"
                                    InputType="text"
                                    Placeholder="사업장 코드"
                                    @bind-Value="@placeInfo.PlaceCd"
                                    />
                        <InputField Label="사업장명"
                                    InputType="text"
                                    Placeholder="사업장명" 
                                    @bind-Value="@placeInfo.Name"
                                    />

                        <InputField Label="전화번호"
                                    InputType="text"
                                    Placeholder="전화번호" 
                                    @bind-Value="@placeInfo.Tel"
                                    />
                        <InputField Label="주소"
                                    InputType="text"
                                    Placeholder="주소" 
                                    @bind-Value="@placeInfo.Address"
                                    />
                        <InputField Label="계약번호"
                                    InputType="text"
                                    Placeholder="계약번호" 
                                    @bind-Value="@placeInfo.ContractNum"
                                    />
                        <InputField Label="계약일자"
                                    InputType="date"
                                    Placeholder="계약일자" 
                                    @bind-Value="@placeInfo.ContractDt"
                                    />
                         <Toggle Title="기계설비 권한"/>
                        <Toggle Title="기계설비 권한" Disable="true"/>
                    </EditForm>
                </div>
                <div class="placemodal-manager">
                    <div class="placemodal-m-header">
                        <span class="placemodal-m-title">관리 매니저</span>
                        <div>
                            <Button 
                                Name="추가" 
                                OnClick=OnAddModal
                                />
                            <Button Name="삭제" />
                        </div>
                    </div>
                    <div class="placemodal-m-list">
                        <List DataList="@placeManagerList" />
                    </div>
                    
                </div>
                

            </div>
            <button class="modal-btn" @onclick="ModalClose">
                확인
            </button>
            <Button Name="등록"/>
        </div>
        @if (isAddModal)
        {
            <SearchManagerModal OnClose="OnCloseModal" />
        }

    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Content { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }

    List<PlaceManagerDTO> PlaceManagerList;
    List<object> placeManagerList;
    List<string> properties;
    AddPlaceDTO placeInfo = new AddPlaceDTO();

    bool isAddModal = false;


    protected override async Task OnInitializedAsync()
    {
        // ResponseObj<ManagerDTO> res = await 
    }

    private void OnAddModal()
    {
        Console.WriteLine("매니저 추가");
        isAddModal = true;
    }

    private void OnCloseModal()
    {
        isAddModal = false;
        StateHasChanged();
    }

    private Task ModalClose()
    {
        return OnClose.InvokeAsync(false);
    }

    private void OnAdd()
    {
        
    }
}


