@using FamTec.Shared.Client.DTO
@using FamTec.Client.Pages.Admin.CommonComponents
@using FamTec.Shared.Client.DTO.Place
@using FamTec.Shared.Server
@inject HttpClient HttpClient

<div class="placemodal-backgroud appear">
    <div class="placemodal-container yappear ">
        <div class="placemodal-wrap ">
            <div class="placemodal-title">
                @Title
            </div>
            @* OnValidSubmit="OnAdd" *@
            <EditForm Model="placeInfo" >
                <div class="placemodal-content">
                    <div class="placemodal-form">
                            <div class="placeInfo-input">
                                <InputField Label="코드"
                                            InputType="text"
                                            Placeholder="사업장 코드"
                                            @bind-Value="@placeInfo.PlaceCd" 
                                            EditMode=EditMode
                                            />
                                <InputField Label="사업장명"
                                            InputType="text"
                                            Placeholder="사업장명"
                                            @bind-Value="@placeInfo.Name" 
                                            EditMode=EditMode
                                            />

                                <InputField Label="전화번호"
                                            InputType="text"
                                            Placeholder="전화번호"
                                            @bind-Value="@placeInfo.Tel" 
                                            EditMode=EditMode
                                            />
                                <InputField Label="주소"
                                            InputType="text"
                                            Placeholder="주소"
                                            @bind-Value="@placeInfo.Address" 
                                            EditMode=EditMode
                                            />
                                <InputField Label="계약번호"
                                            InputType="text"
                                            Placeholder="계약번호"
                                            @bind-Value="@placeInfo.ContractNum" 
                                            EditMode=EditMode
                                            />
                                <InputField Label="계약일자"
                                            InputType="date"
                                            Placeholder="계약일자"
                                            @bind-Value="@placeInfo.ContractDt" 
                                            EditMode=EditMode
                                            />
                            </div>
                            <div class="placemodal-toggle">
                                <Toggle Title="기계설비 권한" @bind-Value="@placeInfo.PermMachine" EditMode=EditMode />
                                <Toggle Title="승강설비 권한" @bind-Value="@placeInfo.PermLift" EditMode=EditMode />
                                <Toggle Title="소방설비 권한" @bind-Value="@placeInfo.PermFire" EditMode=EditMode />
                                <Toggle Title="건축설비 권한" @bind-Value="@placeInfo.PermConstruct" EditMode=EditMode />
                                <Toggle Title="통신설비 권한" @bind-Value="@placeInfo.PermNetwork" EditMode=EditMode />
                                <Toggle Title="미화설비 권한" @bind-Value="@placeInfo.PermBeauty" EditMode=EditMode />
                                <Toggle Title="보안설비 권한" @bind-Value="@placeInfo.PermSecurity" EditMode=EditMode />
                                <Toggle Title="자재 권한" @bind-Value="@placeInfo.PermMaterial"EditMode=EditMode/>
                                <Toggle Title="에너지 권한" @bind-Value="@placeInfo.PermEnergy" EditMode=EditMode />
                                <Toggle Title="민원관리 권한" @bind-Value="@placeInfo.PermVoc" EditMode=EditMode />
                            </div>
                        
                        
                    
                    </div>
                    <div class="placemodal-manager">
                        <div class="placemodal-m-header">
                            <span class="placemodal-m-title">관리 매니저</span>
                            <div>
                                <Button 
                                    Name="추가" 
                                    Width="true"
                                    OnClick=OnAddModal
                                    />
                                <Button 
                                    Name="삭제" 
                                    Width="true"
                                    OnClick="OnDeleteManager"
                                    />
                            </div>
                        </div>
                        <div class="placemodal-m-list">
                            <Table 
                                DataList="ManagerList" 
                                Select="OnSelected"
                                />
                        </div>
                    
                    </div>
                

                </div>
                <div class="placemodal-btns">
                    <Button Name="등록"  OnClick="OnAdd"/>
                    <Button Name="닫기" OnClick="ModalClose" />
                </div>
            </EditForm>
            
        </div>
        @if (isAddModal)
        {
            <SearchManagerModal 
                OnClose="OnCloseModal" 
                AddManagerList=ManagerList
                OnAddManagerListChanged=OnAddManagerListChanged
                />
        }

    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Content { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }

    List<int> selectedManagerIds = new List<int>();
    List<ManagerDTO> ManagerList = new List<ManagerDTO>();
    bool EditMode = true;


    AddPlaceDTO placeInfo = new AddPlaceDTO();
    AddPlaceManagerDTO<ManagerDTO> placeManager = new AddPlaceManagerDTO<ManagerDTO>();

    bool isAddModal = false;


    protected override async Task OnInitializedAsync()
    {
        // ResponseObj<ManagerDTO> res = await 
    }

    private void OnAddModal()
    {
        Console.WriteLine("매니저 추가");
        isAddModal = true;
    }

    private void OnCloseModal()
    {
        isAddModal = false;
        StateHasChanged();
    }

    private Task ModalClose()
    {
        return OnClose.InvokeAsync(false);
    }

    /*
    * 등록 버튼 눌렀을 시
    */
    private async void OnAdd()
    {
        /*
        * 1. 입력된 데이터 확인 
        * 2. 추가 삭제 후 동기화 확인
        * 3. POST
        * 4. 모달 닫기
        */
        Console.WriteLine("코드"+placeInfo.PlaceCd);
        Console.WriteLine("이름" + placeInfo.Name);
        Console.WriteLine("전화번호" + placeInfo.Tel);
        Console.WriteLine("주소" + placeInfo.Address);
        Console.WriteLine("계약번호" + placeInfo.ContractNum);
        Console.WriteLine("계약일자" + placeInfo.ContractDt);
        Console.WriteLine("기계"+placeInfo.PermMachine);
        Console.WriteLine("승강"+placeInfo.PermLift);
        Console.WriteLine("소방"+placeInfo.PermFire);
        Console.WriteLine("건축" + placeInfo.PermConstruct);
        Console.WriteLine("통신"+placeInfo.PermNetwork);
        Console.WriteLine("미화"+placeInfo.PermBeauty);
        Console.WriteLine("보안" + placeInfo.PermSecurity);
        Console.WriteLine("자재" + placeInfo.PermMaterial);
        Console.WriteLine("에너지" + placeInfo.PermEnergy);
        Console.WriteLine("민원"+placeInfo.PermVoc);

        //var resPlace = await HttpClient.PostAsJsonAsync("http://127.0.0.1:5245/api/place/addplace",placeInfo);
        var resPlace = await HttpClient.PostAsJsonAsync("http://127.0.0.1:5245/api/AdminPlace/AddWorks",placeInfo);

        if (resPlace.IsSuccessStatusCode)
        {
            var resData = await resPlace.Content.ReadFromJsonAsync<ResponseObj<int>>();
            // 응답 데이터를 사용합니다.
            if (resData != null)
            {
                // 여기서 responseData.Data를 사용하여 사업장 ID를 처리합니다.
                List<int> placeIds = resData.data;
                placeManager.PlaceId = placeIds[0];

                //var resManager = await HttpClient.PostAsJsonAsync("http://127.0.0.1:5245/api/admin/addplacemanager", placeManager);
                var resManager = await HttpClient.PostAsJsonAsync("http://127.0.0.1:5245/api/AdminPlace/AddPlaceManager", placeManager);

                if (resManager.IsSuccessStatusCode)
                {
                    Console.WriteLine("사업장 매니저 추가 완료");
                    await ModalClose();

                }
            }
        }
        else
        {
            // Handle error or display appropriate message
        }
    }

    /*
    * 매니저 추가 로드
    */
    private void OnAddManagerListChanged(List<ManagerDTO> updatedManagerList)
    {
        ManagerList = updatedManagerList;

        placeManager.PlaceManager = ManagerList;
        StateHasChanged();
    }

    /*
    * 매니저 체크 
    */
    public void OnSelected((bool isCheck, int id) selection)
    {

        Console.WriteLine("부서 체크 여부" + selection.isCheck);
        if (!selection.isCheck)
        {
            selectedManagerIds.Remove(selection.id);
        }
        else
        {
            Console.WriteLine("추가함");
            selectedManagerIds.Add(selection.id);
        }

    }

    /*
    * 매니저 삭제
    */
    private void OnDeleteManager()
    {
        ManagerList = ManagerList.Where(m => !selectedManagerIds.Contains(m.Id)).ToList();
        selectedManagerIds.Clear();
        StateHasChanged();
    }

}


